:root {
  --bg-color: #f1c40f;
  --primary-color: #c0392b;
  --font-headlines: "Lora", serif;
  --font-paragraph: "Lato", sans-serif;
  --font-logo: "Archivo", sans-serif;
  --secondary-color: #d0d3d4;
  --others-color: #f1f1f1;
}

@media screen and (max-width: 480px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    background-color: var(--bg-color);
  }

  .container {
    display: block;
    width: 100%;
  }

  .container span {
    display: block;
  }

  .page-top {
    display: block;
  }

  .logo-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

  .logo {
    color: var(--primary-color);
    font-family: var(--font-logo);
    font-size: 1.2rem;
    font-weight: 900;
    margin-left: 20px;
    margin: 25px 0px;
  }

  input[type="button"] {
    padding: 4px 20px;
    margin-right: 15px;
    border-radius: 4px;
    font-family: var(--font-paragraph);
    font-weight: 400;
    font-size: 1rem;
  }
  .top-text h1 {
    font-family: var(--font-headlines);
    font-size: 1.8rem;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 25px;
  }

  .top-text h2 {
    font-family: var(--font-paragraph);
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6rem;
    color: var(--others-color);
  }

  .page-middle {
    display: block;
    padding-top: 100px;
  }

  .sports-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 20px;
    grid-row-gap: 50px;
    font-size: 0.8rem;
    font-family: var(--font-paragraph);
    color: var(--primary-color);
    padding-bottom: 100px;
  }

  .image-box {
      display: flex;
      justify-content: center;
  }

  .sports-latest{

      font-size: 1rem;
      font-family: var(--font-paragraph);
      font-weight: 600;
      background: url(/image/basketball-news.jpg) no-repeat ;
      background-size: cover;
      padding: 100px;
      width: 70%;
      border-radius: 5px;
      color: var(--primary-color);
      position: relative;
      margin-bottom: 70px;
      
  }

  .sports-latest h2{
      position: absolute;
      top:8px
  }

  .top-stories{
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  .top-stories-now {
      width: 50%; 
  }

  .top-stories-now img{
      width: 100%;
      padding-top: 30px;

  }

  .top-stories-now figcaption {
      font-family: var(--font-paragraph);
      color: var(--others-color);
      font-weight: 600;
  }

  .page-bottom{
      display: block;
      background-color: var(--secondary-color);
      padding-top: 35px;
      padding-bottom: 150px;
  }

  .page-bottom address {
      margin-left: 20px;
  }

  .page-bottom address span {
      display: block;
      color: #000;
  }

  .sports-portal{
      margin: 50px 0px 0px 20px;
     
  }

  .sports-portal a{
      display: block;
      
      margin-top: 15px;
      color: #000;
      cursor: pointer;
  }



  
}
